/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/.dart_tool/
/build/
.DS_Store
.idea/
pubspec.lock
ios/Podfile.lock
ion-sdk/.packages
ion-sdk/.flutter-plugins
ion-sdk/.flutter-plugins-dependencies
android/app/proguard/mapping.txt
android/app/proguard/seeds.txt
android/app/proguard/unused.txt
/build/
android/app/build/
android/.idea/
ios/build/XCBuildData/
